/**
 * @author Yinjie Xu
 * @version 0.1
 * @date 2024-06-21
 */

@import "globals.scss";


.ChatContainer {
  width: 100%;
  display: flex;

  .ChatCorridor {
    width: 100%;
    background-color: $qqwhite00;
    display: flex;
    flex-direction: column;

    .ChatBriefWrapper {

      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      

      .Portrait {
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 10px 10px;
        object-fit: cover;
      }
    
      .Info {
        flex: 1;
        width: calc(100% - 60px);
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        justify-content: space-around;
        .NameAndTime {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .Name {
            user-select: none;
            font-size: 18px;
            color: $qqblack00;
          }  
          .Time {
            font-size: 13px;
            user-select: none;
            padding-right: 20px;
            color: $qqblack2l;
          }
        }
        .MessageAndUnreadHint {
          display: flex;
          justify-content: space-between;
          .Message {
            position: relative;
            font-size: 13px;
            user-select: none;
            width: calc(100% - 10px);
            color: $qqblack2l;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
          }
          .UnreadHint {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
        
      }

      &.Selected {
        background-color: $qqblue00;
        .Info {
          .NameAndTime {
            .Name {
              color: $qqwhite00;
            }
            .Time {
              color: $qqwhite00;
            }
          }
          .MessageAndUnreadHint {
            .Message {
              color: white;
            }
          }
        }
        &:hover {
          background-color: $qqblue00;
        }
      }
      &:hover {
        background-color: $qqwhite1d;
      }
    }
  }

  .ChatRoom {
    background-color: $qqwhite1d;
    flex: 1;
    display: flex;
    flex-direction: column;
    
    .HeaderWrapper {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .UserName {
        padding-left: 20px;
        font-size: 18px;
      }

      .ToolBar {
        display: flex;
        
        Tool {
          padding: 0 10px;
          font-size: 18px;
          border: none;
          &:hover {
            color: $qqblue00;
          }
        }
      }
    }
    
    .MessagesWrapper {
      padding-bottom: 20px;
    }

    .InputWrapper {
      flex: 7;
      display: flex;
      flex-direction: column;
      padding: 0px 15px;
      .ToolBar {
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 5px;
        .Tool {
          padding-right: 20px;
          height: 30px;
          border: none;
          &.isRunning {
            color: $qqblue2d;
          }
          i {
            font-size: 18px;
            &:hover {
              color: $qqblue1d;
            }
            &:active {
              color: $qqblue2d;
            }
          }            
        }
      }
      
      textarea {
        font-size: 16px;
        font-family: 'Microsoft YaHei';
        flex: 1;
        border: none;
        outline: none;
        background-color: $qqwhite1d;
      }

      .SendButtonWrapper {  
        .SendButton {
          z-index: 1;
          width: 100px;
          height: 30px;
          border: none;
          border-radius: 5px;
          background-color: $qqblue00;
          color: white;
          
          position: absolute;
          bottom: 0;
          right: 0;
          margin-bottom: 20px;
          margin-right: 20px;
          &:hover {
            background-color: $qqblue1d;
          }
          &:active {
            background-color: $qqblue2d;
          }
        }
      }
    }

  }

}