$qqblue2l: rgb(112, 189, 240);
$qqblue1l: rgb(77, 170, 233);
$qqblue00: rgb(0, 153, 255);
$qqblue1d: rgb(0, 147, 245);
$qqblue2d: rgb(0, 134, 224);

$qqwhite00: rgb(255, 255, 255);
$qqwhite1d: rgb(242, 242, 242);
$qqwhite2d: rgb(224, 224, 224);

$qqblack00: rgb(0, 0, 0);
$qqblack2l: rgb(153, 153, 153);
 



