/**
 * @author Ruoxi Wang
 * @version 0.1
 * @date 2024-06-21
 */

@import "globals.scss";

.SettingsPage {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    width: 100%;
    overflow: auto;

    &:not(:hover) {
        &::-webkit-scrollbar-thumb {
            background: $qqwhite1d;
        }
    }

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: $qqwhite2d;
    }
}

h1 {
    margin-bottom: 20px;
    /* 增加标题下方的空白间距 */
}

.all {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    /* 重新将文本内容左对齐，以保持内容的一致性 */
}

.setting-item {
    margin-bottom: 20px;
}

.confirm-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.confirm-button:hover {
    background-color: #0056b3;
}

input {
    padding: 10px;
    width: calc(100% - 42px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

#sys_message {
    font-style: italic;
    color: #FF0000;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
}